html {
  scroll-behavior: smooth;
}
.space {
  width: 100%;
}
.konten {
  min-height: 100vh;
  background-color: #bea7e3;
}
.navbar {
  padding-top: 40px;
  transition: padding-top 0.7s;
}
.relative {
  position: relative;
  padding-left: 20px;
  color: #625082;
}
.heading-1 {
  top: 200px;
  font-size: 70px;
  font-weight: 600;
}
.heading-2 {
  top: 200px;
  font-size: 50px;
  font-weight: 600;
}
.heading-3 {
  top: 200px;
  font-size: 40px;
  font-weight: 600;
}
.navbar-toggler {
  display: none;
}
.content-footer {
  font-weight: 600;
  padding-top: 20px;
  color: white;
}
.title-content {
  font-weight: bold;
}
.content {
  font-size: 20px;
}
.line {
  background-color: blueviolet;
  height: 10px;
  width: 100%;
  border-radius: 10px;
}
.card-title {
  font-size: 30px;
  font-weight: 700;
}
.center {
  margin: auto;
}
.icon {
  font-size: 30px;
}
.content-contact {
  font-weight: 600;
}
a {
  color: #625082;
}
a:hover {
  text-decoration: none;
  color: blueviolet;
}
.hire {
  margin-left: 20px;
  position: relative;
  top: 200px;
  background-color: #625082;
  padding: 20px 40px;
  border-radius: 7px;
  font-size: larger;
  font-weight: 600;
}
.hire:hover {
  background-color: blueviolet;
  text-decoration: none;
}

/*responsive*/
@media only screen and (max-width: 980px) {
  .heading-1 {
    top: 150px;
    font-size: 50px;
  }
  .heading-2 {
    top: 150px;
    font-size: 40px;
  }
  .heading-3 {
    top: 150px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .heading-1 {
    top: 150px;
    font-size: 35px;
  }
  .heading-2 {
    top: 150px;
    font-size: 25px;
  }
  .heading-3 {
    top: 150px;
    font-size: 18px;
  }
  .content {
    font-size: 16px;
  }
}
